*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    background-color: #f0f0f0;
}
.label{
    color:black;
    background-color: #f0f0f0;
    font-family: sans-serif;
    font-size: 12px;
}
.button{
    color:black;
    background-color: #f0f0f0;
    font-family: sans-serif;
    font-size: 12px;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
    display: inline-block;
    padding: 4px;
    cursor: pointer;
}

.button:active{
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    border-top: 1px solid gray;
    border-left: 1px solid gray; 
}

.button:active > span{
    margin-left: 1px;
    margin-top: 1px;
}

.input, .input-number, .input-password{
    color:black;
    background-color: #ffffff;
    font-family: sans-serif;
    font-size: 12px;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    border-top: 1px solid gray;
    border-left: 1px solid gray;
    padding: 4px 0px;

}
.input-password{
    max-width:148px; 
    max-height:24px; 
    font-size:24px;
}

.radio-button{
    width: 12px;
    height: 12px;
    border-radius: 100px;
    background-color: #ffffff;
    border-bottom: 1px solid rgb(230, 230, 230);
    border-right: 1px solid rgb(230, 230, 230);
    border-top: 1px solid gray;
    border-left: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.radio-button > div{
    width: 6px;
    height: 6px;
    border-radius: 100px;   
}

.checkbox {
    width: 12px;
    height: 12px;
    background-color: #ffffff;
    border-bottom: 1px solid rgb(230, 230, 230);
    border-right: 1px solid rgb(230, 230, 230);
    border-top: 1px solid gray;
    border-left: 1px solid gray;
    position: relative;
}

.checkbox > .checkbox-tilde-1{
    width: 2px;
    height: 4px;
    transform: rotate(-45deg);
    position: absolute;
    left: 2px;
    top: 5px;
}

.checkbox > .checkbox-tilde-2{
    width: 2px;
    height: 7px;
    transform: rotate(45deg);
    position: absolute;
    left: 5px;
    top: 2px;
}

.textarea {
    resize: none;
    color:black;
    background-color: #ffffff;
    font-family: sans-serif;
    font-size: 12px;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    border-top: 1px solid gray;
    border-left: 1px solid gray;
}

.listbox {
    color:black;
    background-color: #ffffff;
    font-family: sans-serif;
    font-size: 12px;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    border-top: 1px solid gray;
    border-left: 1px solid gray;
}

.combo-box{
    color:black;
    background-color: #ffffff;
    font-family: sans-serif;
    font-size: 12px;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    border-top: 1px solid gray;
    border-left: 1px solid gray;
}

.menu{
    min-width: 100%;
    background-color: white;
    font-family: sans-serif;
    font-size: 12px;
    color:black;
    padding: 1px 0px 1px 1px;
    display: flex;
    align-items: center;
}
.menu-section{
    position: relative;
    cursor: default;
}
.menu-section > p{
    display: inline-block;
    padding: 2px 5px;
}
.menu-section > div{
    display: none;
    min-width: max-content;
    border: 1px solid gray;
    background-color: #f0f0f0;
    padding:2px;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 19px;
    z-index: 10;
}
.menu-section > div > div{
    padding: 2px 4px 2px 15px;
}

.menu-section > div > div:hover{
    background-color: #0076d7;
    color:white;
}

.menu-section > p:hover{
    outline:1px solid #99d1ff;
    background-color: #cce8ff;
}


.input-number::-webkit-inner-spin-button, 
.input-number::-webkit-outer-spin-button {  
   opacity: 1;
}

.input:focus, .textarea:focus, .listbox:focus, .combo-box:focus, .input-number:focus, .input-password:focus{
    outline: none;
}

[data-check = "false"] div{
    background-color: white;
}

[data-check = "true"] div{
    background-color: black;
}

